<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
  </configSections>
	<appSettings>
		<!-- Boost Service Settings -->
		<add key="LogSource" value="BoostExportTimer"/>
		<add key="SaveLocal" value="true"/>
		<add key="UploadRemote" value="false"/>

		<!--<add key="BoostServerAddress" value="http://localhost/Boost2.0/rest/"/>-->
		<add key="BoostServerAddress" value="http://173.204.11.20/Boost2.0/rest/"/>
		<!-- DataPathSubfolder overrides default 4-Tell subfolder (useful for parallel installations)-->
		<add key="DataPathSubfolder" value="4-Tell2.0"/>
		<!-- FullDataPath would override entire data path (DataPathSubfolder is ignored)
					<add key="FullDataPath" value="C:\MyDataFolder\" />-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<!-- RedundantServerCount tells the system how many redundant servers there are 
          in addition to the current installation (i.e 1 redundant = 2 total).
          Each server is connected on a private network with IP addresses on that
          network listed below as ServerAddress1, ServerAddress2, etc.
          The root C directory of each redundant server will be mapped to a drive 
          on the current server starting with drive Z and working backwards-->
		<add key="RedundantServerCount" value="0"/>
		<add key="ServerAddress1" value="173.204.11.20"/>
		<add key="ServerAddress2" value="173.204.11.26"/>
		<!--<add key="ServerAddress1" value="10.125.162.7" />
   	 	<add key="ServerAddress2" value="10.125.162.8" />-->
		<add key="BoostVersion" value="2.0"/>
		<add key="ReplicationUser" value="4Tell"/>
		<add key="ReplicationPassword" value="2Predict"/>
		<!-- The following will set the address and password for sending emails 
				 TODO: make each server identify itself...-->
		<add key="GmailUsername" value="BoostServer1@4-tell.net"/>
		<add key="GmailPassword" value="2predict"/>
		<add key="GmailToAdress" value="neil@4-tell.com"/>
		<!-- ReportLevel - Possible values (in decreasing order) are All, Information, Warning, Error, None-->
		<add key="AdminReportLevel" value="Error"/>
		<add key="CustomerReportLevel" value="None"/>
		<!-- LogFrequency writes our the current usage data to a file and the event log-->
		<add key="LogFrequency" value="2"/>
		<!-- LogBlockList is a CSV list of clientAliases not to log. Use this temporarily if one client is over filling the log
		<add key="LogBlockList" value="Ziwi,WSTea" />-->
	</appSettings>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
		<!-- Setting machine key here to avoid error: Validation of viewstate MAC failed.	-->
		<machineKey
   validationKey="4B4B4B72597989D14CC1D5D9F5B1E94238D0EE32CF10AA2D2059533DF6035F4F"
   decryptionKey="4B4B4B1DBB2389B996A526DE8BCD7ACFDBCAB04EF1D085481C61496F693DF5F4"/>
		<compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
		
		<httpRuntime requestValidationMode="2.0" maxQueryStringLength="2097151"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

	</system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBoost" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:40:00" sendTimeout="00:20:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="10000000" maxBufferPoolSize="524288" maxReceivedMessageSize="10000000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="basicHttpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:40:00" sendTimeout="00:20:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="10000000" maxBufferPoolSize="524288" maxReceivedMessageSize="10000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="cartAPIAdvancedSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:40:00" sendTimeout="00:20:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="10000000" maxBufferPoolSize="524288" maxReceivedMessageSize="10000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Mage_Api_Model_Server_V2_HandlerBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:40:00" sendTimeout="00:20:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="10000000" maxBufferPoolSize="524288" maxReceivedMessageSize="10000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Mage_Api_Model_Server_V2_HandlerBinding1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:40:00" sendTimeout="00:20:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="10000000" maxBufferPoolSize="524288" maxReceivedMessageSize="10000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Mage_Api_Model_Server_V2_HandlerBinding2" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="10000000" maxBufferPoolSize="524288" maxReceivedMessageSize="10000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Mage_Api_Model_Server_V2_HandlerBinding3" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="10000000" maxBufferPoolSize="524288" maxReceivedMessageSize="10000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Mage_Api_Model_Server_V2_HandlerBinding4" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="10000000" maxBufferPoolSize="524288" maxReceivedMessageSize="10000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.3dcart.com/cart_advanced.asmx"
        binding="basicHttpBinding" bindingConfiguration="cartAPIAdvancedSoap"
        contract="ws_3dCartApi.cartAPIAdvancedSoap" name="cartAPIAdvancedSoap" />
      <endpoint address="http://whitesalmontea.gostorego.com/index.php/api/v2_soap/index/"
        binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding"
        contract="GoStore_wsTea.Mage_Api_Model_Server_V2_HandlerPortType"
        name="Mage_Api_Model_Server_V2_HandlerPort" />
      <endpoint address="http://addons.gostorego.com/index.php/api/v2_soap/index/"
        binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding2"
        contract="GoStore_MageGo.Mage_Api_Model_Server_V2_HandlerPortType"
        name="Mage_Api_Model_Server_V2_HandlerPort2" />
      <endpoint address="http://theluvo.com/api/v2_soap/index/" binding="basicHttpBinding"
        bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding3"
        contract="GoStore_TheLuvo.Mage_Api_Model_Server_V2_HandlerPortType"
        name="Mage_Api_Model_Server_V2_HandlerPort3" />
      <endpoint address="http://www.condomania.com/api/v2_soap/index/"
        binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding1"
        contract="GoStore_condomania.Mage_Api_Model_Server_V2_HandlerPortType"
        name="Mage_Api_Model_Server_V2_HandlerPort1" />
      <endpoint address="http://www.buticul.ro/api/v2_soap/index/"
        binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding4"
        contract="GoStore_Buticul.Mage_Api_Model_Server_V2_HandlerPortType"
        name="Mage_Api_Model_Server_V2_HandlerPort4" />
    </client>
  </system.serviceModel>
</configuration>
